.todo {
    display: flex;
    flex-direction: column;
    row-gap: 24px;
    width: 100%;
    max-width: 404px;
    min-height: 429px;
    padding: 24px;
    background-color: var(--color-white);
    border: var(--border);
    border-radius: var(--border-radius);
    box-shadow: var(--box-shadow);
}

.todo-title {
    text-align: center;
    font-size: 24px;
    font-weight: 600;
    line-height: 1.2;
    letter-spacing: -0.02em;
}

.todo-form {
    display: flex;
    column-gap: 16px;
}

.todo-field {
    width: 100%;
}

.todo-info {
    display: flex;
    justify-content: space-between;
    align-items: center;
    column-gap: 16px;
    font-weight: 600;
}

.todo-del-all-button {
    padding: 0;
    background-color: transparent;
    border: none;

    &:hover {
        color: var(--color-gray-4);
    }

    &:not(.is-visible) {
        opacity: 0;
        visibility: hidden;
    }
}

.todo-list, .todo-empty-message {
    &:empty {
        display: none;
    }
}

.todo-list {
    --todoListRowGap: 8px;

    display: grid;
    row-gap: var(--todoListRowGap);
}

.todo-empty-message {
    text-align: center;
    color: var(--color-gray-4);
}




